@import url('https://fonts.googleapis.com/css2?family= Josefin +Sans:ital,wght@1,300 & display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

    /*NAVBAR*/
a {
    color: #000;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    color: rgb(21, 21, 77);
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  span{
    color: rgb(74, 74, 167);
  }
  
  .navSuperior {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: white;
    height: 8vh;
    border: none;
    border-bottom: 1px solid;
  }
  
  main {
    background-size: cover;
  }

  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #000;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    .logo{
      letter-spacing: 0px;
      font-size: 12px;
    }
    body {
      overflow-x: hidden;
    }
    
    a{
        color: white;
    }
    .logo{
        color: black;
    }

    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: rgb(74, 74, 167);
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }

    .carrinho-img{
      color: white;
    }
  }
  
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

  .search-box{
    height: 40px;
    padding: 5px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  .search-txt{
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: #f0f5fb;
    font-size: 16px;
    line-height: 40px;
    width: 0;
    transition: 0.5s;
  }

  .search-btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #0a1b2d;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6px;
  }
  .search-box:hover{
    background-color: rgb(74, 74, 167);
  }

  ::-webkit-input-placeholder{
    color: #f0f5fb;
  }

  .menu-li-icons{
    display: flex;
    align-items: center;
  }

  .carrinho{
    font-size: 15px;
  }
  .carrinho:hover{
    border: none;
    border-bottom: 1px solid rgb(74, 74, 167);
  }

  .conta{
    font-size: 15px;
  }

  .conta:hover{
    border: none;
    border-bottom: 1px solid rgb(74, 74, 167);
  }

  .coracao{
    font-size: 15px;
  }

  .coracao:hover{
    border: none;
    border-bottom: 1px solid rgb(74, 74, 167);
  }

  .navDropdown{
    display: flex;
    justify-content: center;
    height: 8vh;
    margin-top: 10px;

  }
  
  .dropdown-menu{
    display: flex;
    gap: 50px;
  }
  
  .dropdown-menu li{
    list-style: none;
  }

  .dropdown-menu a{
    font-size: 12px;
    text-decoration: none;
    color: #000;
    transition: 0.3s;
    font-family: 'Josefin Sans', sans-serif;
  }

  .dropdown-menu  a:hover{
    color: #0a1b2d;
    border: none;
    border-bottom: 1px solid rgb(74, 74, 167);
  }


  .dropdown-submenu{
    margin-top: 2px;
    display: none;
  }

  .dropdown-submenu a{
    padding: 5px;
    background-color: whitesmoke;
    width: 150%;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
  }

  .dropdown-menu li:hover> .dropdown-submenu{
    display: block;
  }
  /*NAVBAR*/

  
  /*SLIDER*/

  .slider{
    margin: 0 auto;
    width: 1300px;
    height: 350px;
    overflow: hidden;

  }

  .slides{
    width: 400%;
    height: 400px;
    display: flex;
  }

  .slides input{
    display: none;
  }

  .slide{
    width: 25%;
    position: relative;
    transition: 2s;
  }

  .slide img{
    width: 100%;
    height: 550px;
  }

  .manual-navigation{
    position: absolute;
    width: 1300px;
    display: flex;
    justify-content: center;
  }

  .manual-btn{
    border: 2px solid #000;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }

  .manual-btn:not(:last-child){
    margin-right: 40px;
  }

  .manual-btn:hover{
    background-color: #000;
  }

  #radio1:checked ~.first{
    margin-left: 0;
  }

  #radio2:checked ~.first{
    margin-left: -25%;
  }

  #radio3:checked ~.first{
    margin-left: -50%;
  }

  #radio4:checked ~.first{
    margin-left: -75%;
  }

  .navigation-auto div{
    border: 2px solid  rgb(74, 74, 167);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }

  .navigation-auto{
    position: absolute;
    width: 1300px;
    margin-top: 400px;
    display: flex;
    justify-content: center;
  }

  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }

  #radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: rgb(74, 74, 167);
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: rgb(74, 74, 167);
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: rgb(74, 74, 167);
  }
  
  #radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: rgb(74, 74, 167);
  }
  /*SLIDER*/


  .divisoria{
    padding: 5%;
  }

  /*SLIDER CARDS BOOKS*/

  .txtMangas{
    background-color: rgb(21, 21, 77);
    border-radius: 10px;
    padding: 10px;
    color: white;
    margin-top: 40px;
    width: 1300px;
    position:absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

  }


  .container{
    display: flex;
    justify-content: center;
    background-color: rgb(74, 74, 167, 0.5);
    /* max-width: 1120px; */
    margin-left: 15%;
    border-radius: 10px;
    margin-right: 15%;
  }

  .slide-container{
    display: flex;
    justify-content: center;
  }

  .card{
    position: relative;
    background-color: rgb(74, 74, 167);
    border-radius: 8px;
    margin: 30px;
    padding: 5px;
    display: inline-block;
    box-shadow: 5px 5px 5px 5px rgb(21, 21, 77);
  }

  .card .image-box{
    height: 400px;
    width: 350px;

  }

  .card .image-box img{
    height: 100%;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px 8px 0 0 ;
  }

  .card .item-details{
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding: 15px;
  }

  .item-details .name{
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: white;
  }

  .item-details .valor{
    font-size: 16px;
    font-weight: 400;
    color: whitesmoke;
    text-align: center;
  }

  .btn-comprar{
    background-color: rgb(45, 45, 119);
    font-weight: 500;
    font-size: 17px;
    padding: 5px;
    width: 300px;
    height: 40px;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    
  }
  .btn-comprar:hover{
    cursor: pointer;
  }
  /*SLIDER CARDS BOOKS*/
